$primary: #ffffff;
$accent-1: #0e489d;
$accent-2: #195bbc;
$accent-3: #286fd6;
$accent-4: #5387d4;
$accent-5: #7b9fd5;
$accent-6: #bbd6fe;
$accent-7: #eef5fe;
$secondary-1: #080f0f;
$secondary-2: #222d2d;
$secondary-3: #4a5050;
$secondary-4: #6d6d6d;
$secondary-5: #979797;
$secondary-6: #bbbaba;

$ani-dur: 400ms;

$f-body: 'Open sans', sans-serif;
$f-header: 'Montserrat', sans-serif;