html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 900;
}
#__nuxt {
  min-width: 36rem;
}
.sct-ctr {
  width: 100%;
}
.sct {
  max-width: 144rem;
  margin: auto;
}
.hide--below {
  transform: translateY(6.4rem) !important;
  opacity: 0 !important;
  transition: transform 400ms ease-out, opacity 400ms ease-out;
}
.reveal--below {
  transform: translateY(0) !important;
  opacity: 1 !important;
}
.hide--transparent {
  opacity: 0 !important;
  transition: opacity 400ms ease-out;
}
.reveal--transparent {
  opacity: 1 !important;
}
